* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Index.html styling ----------------------------------------------------------------------------*/
a {
    text-decoration: none;
    color: unset;
}

/*darkmode/lightmode button -------------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #fff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #fff;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #000;
}

/* Rounded sliders --------------------------------------------------------------------------------------------*/
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.index-header {
    display: flex;
  justify-content: space-around;
}

/*trending movies -------------------------------------------------------------------------------------------*/
main {
    overflow: hidden;
}

#horizontal-movie-row {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    scrollbar-width: none;
}

.movies {
    flex-shrink: 0;
    max-width: 143px;
}

/*popular movies ---------------------------------------------------------------------------------------------------------*/

#popular {
    margin: 1em auto;
    width: 85%;
    display: grid;
    row-gap: 2em;
}

.setup-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 5px;
}

.setup-container img {
    grid-column: 1/3;
    grid-row: 1/2;
}

.setup-container .movie-title {
    grid-column: 3/-1;
    grid-row: 1/2;
}

.setup-container #rating {
    grid-column: 3/-1;
    grid-row: 1/2;
    place-self: center;
    margin-right: auto;
}

.setup-container .genre-container {
    grid-column: 3/-1;
    grid-row: 1/2;
    place-self: end;
    margin-right: auto;
    display: flex;
    gap: 1em;
}

.genre-badge {
    background-color: #DBE3FF;
    color: #88A4E8;
    padding: 10px;
    border-radius: 1em;
}

/*Footer -------------------------------------------------------------------------------------------------*/
footer {
    display: none;
}

/*Media quarry -----------------------------------------------------------------------------------------------*/
@media screen and (max-width: 500px) {
    footer {
        display: flex;
        font-size: 2.5em;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        width: 100%;
        padding-top: 10px;
    }
}


/*Details.hrml--------------------------------------*/
.iframe-container {
    position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-container iframe {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.no-poster img {
    margin: auto;
}

#the-movie {
    display: grid;
  grid-auto-flow: column;
}

.movie-title {
    margin: 1em auto 0 20px;
}

.fa-bookmark {
    margin-left: auto;
  margin-right: 20px;
  place-self: center;
}

.genre-container {
    display: flex;
  gap: 10px;
  margin-left: 20px;
}

.details-rating {
    margin: 2em 0 2em 20px;
}

.extra-information {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#length p:first-of-type,
#language-header,
#rating-number p:first-of-type {
    color: #9C9C9C;
}

#actors-list {
    max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 20px;
  scrollbar-width: none;
}

#actors-list .actors {
    flex-shrink: 0;
  max-width: 143px;
}

#description-movie h2 {
 margin-bottom: 10px;
} 

#description-movie {
    margin: 1em 0 1em 20px;
}

#casting {
    margin-left: 20px;
}

.details-header {
    position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  display: flex;
  top: 2%;
}

.details-header a {
    font-size: 2rem;
  color: #fff;
  margin-left: 50px;
}

.details-header .switch {
    margin-left: auto;
  margin-right: 50px;
}